*{  
  /* 控制元素在移动设备上使用滚动回弹效果 */
  -webkit-overflow-scrolling: touch; 
}

/* 字体响应式*/
@media screen and (max-width: 320px) {
  html {
        font-size: 13px;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  html {
        font-size: 14px;
    }
}

@media screen and (min-width: 400px) {
  html {
        font-size: 16px;
    }
}
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #333333;
  background: #fff;
  font-family:"SimHei";
}
/* index.html */
.bg{
  width: 100%;
  height: auto;
}
.content .go-apply{
  height: 2.5625rem;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  letter-spacing: 1px;
  border-bottom: 3px dotted #ccc;
  margin: 0.85rem  1.25rem 0 1.25rem;
  position: relative;
}
.content .go-apply div{
  display: inline-block;
}
.content .go-apply .go-btn{
  width: 14rem;
  height: 1.5625rem;
  border-radius: 2px;
  background-color:#3c55dd;
  color:#fff;
  font-weight: bold;
  text-align: center;
  position: absolute;
}
.contact-us{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin:0.85rem 1.25rem 0.85rem 1.25rem;
}
.contact-us .contact-text{
  max-width:17rem;
  display: inline-block;
  font-size: 0.875rem;
  height: 2rem;
  letter-spacing: 1px;
  position: relative;
  margin-top: -1rem;
}
.contact-us .qr-code{
  width: 5rem;
  height: 5rem;
  position: relative;
  right: -0.3125rem;
}
/* guide.html */
.container .step{
  width: 100%;
  height: auto;
}